@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", sans-serif;
    background-color:hsl(218, 23%, 16%);
}

.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
}

.container-background{
    background: hsl(217, 19%, 24%);
    max-width:350px;
    padding:10px;
    border-radius:15px;
}

.number{
    margin:10px 0px;
    font-size: 0.6rem;
    color:hsl(150, 100%, 66%);
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.container p{
    display:flex;
    color:hsl(193, 38%, 86%);
    font-weight: 800;
}

.divide{
    max-width:300px;
    margin-top:20px;
}

.dice{
    transform: translateY(25px);
    background-color: hsl(150, 100%, 66%);
    border-radius:50%;  
    max-width:50px;
    padding:14px 0px;
    margin:0 auto;
}

.dice img{
    width:17px;
    display:flex;
    justify-self: center;
    align-self: center;
    margin:0 auto;
}

.dice:hover{
    box-shadow: 0 0 10px 5px hsl(150, 100%, 66%);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}